 @import "tailwindcss";

 :root {
  --primary: oklch(0.7137 0.1434 254.62);
  
  --button-primary-hover: oklch(61.32% 0.18191 256.249 / 0.8);
 }

 .dark {
  --primary: oklch(0.7137 0.1434 254.62);
  --button-primary-hover: oklch(61.32% 0.18191 256.249 / 0.8);
 }

 @theme inline {
  --color-primary: var(--primary);
  --color-button-primary-hover: var(--button-primary-hover);
 }
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}